<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiusite.main">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
		
        <activity android:name=".AppStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity 
			android:name="com.jiusite.main.ServerSetActivity" 
			android:screenOrientation="portrait" >
		</activity>
		<activity 
			android:name="com.jiusite.main.DataSyncActivity" 
			android:screenOrientation="portrait" >
		</activity>
		<activity 
			android:name="com.jiusite.main.LoginActivity" 
			android:screenOrientation="portrait" >
		</activity>
		<activity 
			android:name="com.jiusite.main.MainActivity" 
			android:hardwareAccelerated="true"
			android:screenOrientation="portrait" >
		</activity>
		<activity 
			android:name="com.jiusite.main.PlaceActivity" 
			android:screenOrientation="portrait" >
		</activity>
		<activity 
			android:name="com.jiusite.main.ProductMenuActivity" 
			android:screenOrientation="portrait" >
		</activity>
		<service 
			android:name="com.jiusite.service.CategoryService" >
		</service>
		<service 
			android:name="com.jiusite.service.ProductService" >
		</service>
		<service 
			android:name="com.jiusite.service.SpecialRequestService" >
		</service>
		<service 
			android:name="com.jiusite.service.SpecialRequestActionService" >
		</service>
		<service 
			android:name="com.jiusite.service.SpecialRequestCategoryService" >
		</service>
		<service 
			android:name="com.jiusite.service.OrderService" >
		</service>
		<service 
			android:name="com.jiusite.service.TableService" >
		</service>
		<service 
			android:name="com.jiusite.service.UserService" >
		</service>
    </application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	
</manifest>
